<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zmiter.test.posters.persistence.PosterMapper">
    <cache />

    <select id="getAllPosters" resultType="Poster">
        SELECT id, filename FROM posters
    </select>

    <select id="getPoster" resultType="Poster" parameterType="Integer">
        SELECT id, filename FROM posters WHERE id = #{id}
    </select>

    <insert id="insertPoster" parameterType="Poster">
        INSERT INTO posters (filename)
        VALUES (#{filename})
    </insert>

</mapper>